repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
  - id: pylint
    name: pylint
    entry: pylint typedspark
    language: system
    types: [python]
    args:
      [
        '-rn', # Only display messages
        '-sn', # Don't display the score
      ]
  - id: mypy
    name: mypy
    entry: mypy
    language: system
    types: [python]
  - id: pyright
    name: pyright
    entry: pyright
    language: system
    types: [python]
  - id: black
    name: black
    entry: black --check
    language: system
    types: [python]
  - id: isort
    name: isort
    entry: isort --check
    language: system
    types: [python]
  - id: docformatter
    name: docformatter
    entry: docformatter --black -c
    language: system
    types: [python]
  - id: pytest-no-spark
    name: pytest-no-spark
    entry: python -m pytest -m no_spark_session
    language: system
    types: [python]
    pass_filenames: false
  - id: pytest-spark
    name: pytest-spark
    entry: coverage run -m pytest
    language: system
    types: [python]
    pass_filenames: false
  - id: pytest-spark-coverage
    name: pytest-spark-coverage
    entry: coverage report -m
    language: system
    types: [python]
    pass_filenames: false
