# pyspark
pyspark==4.1.2
# linters
flake8==7.3.0
pylint<=4.0.6
black[jupyter]<=26.5.1
bandit<=1.9.4
isort<=8.0.1
docformatter==1.7.8
mypy==2.3.0
pyright<=1.1.411
autoflake==2.3.3
# stubs
pandas-stubs<=3.0.3.260530
types-setuptools<=83.0.0.20260706
# testing
pytest<=9.1.1
coverage<=7.15.1
pandas<=3.0.4
setuptools==83.0.0
chispa<=0.12.0
# notebooks
nbconvert==7.17.1
jupyter==1.1.1
nbformat==5.10.4
# readthedocs
sphinx<=9.1.0
sphinx-rtd-theme==3.1.0
nbsphinx==0.9.8
# precommit hook
pre-commit<=4.6.0
