# pyspark
pyspark==3.5.0
# linters
flake8==7.0.0
pylint==3.0.3
bandit==1.7.6
black[jupyter]==23.12.1
isort==5.13.2
docformatter==1.7.5
mypy==1.8.0
pyright==1.1.345
autoflake==2.2.1
# stubs
pandas-stubs==2.1.4.231227
types-setuptools==69.0.0.20240106
# testing
pytest==7.4.4
coverage==7.4.0
pandas==2.1.4
setuptools==69.0.3
chispa==0.9.4
# notebooks
nbconvert==7.14.0
jupyter==1.0.0
nbformat==5.9.2
# readthedocs
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
nbsphinx==0.9.3
# precommit hook
pre-commit==3.6.0
