# pyspark
pyspark==3.5.3
# linters
flake8==7.1.1
pylint==3.3.1
bandit==1.7.10
black[jupyter]==24.10.0
isort==5.13.2
docformatter==1.7.5
mypy==1.11.2
pyright==1.1.384
autoflake==2.3.1
# stubs
pandas-stubs<=2.2.3.241009
types-setuptools==75.1.0.20240917
# testing
pytest==8.3.3
coverage==7.6.2
pandas==2.2.3
setuptools==75.1.0
chispa==0.10.1
# notebooks
nbconvert==7.16.4
jupyter==1.1.1
nbformat==5.10.4
# readthedocs
sphinx<=8.1.0
sphinx-rtd-theme==3.0.1
nbsphinx==0.9.5
# precommit hook
pre-commit==4.0.1
